<header>
  <div class="container">
    <div class="row align-items-center">
      <h1>Morning Meeting</h1>
      <a href="https://feedforce.qiita.com/" target="_blank" class="btn btn-outline-light">
        <i class="fas fa-file-alt mr-1"></i>
        過去の記事
      </a>
    </div>
  </div>
</header>

<main>
  <div class="container mt-2">
    <div class="row">
      <div class="col-6">
        <h2>チーム一覧</h2>
        <section class="teamlist">
          <div class="teamlist-item">
            <h3 class="mb-0">EC Booster</h3>
            <small>最終編集: 2019/02/10 19:33</small>
            <i class="fas fa-cog ml-2"></i>
          </div>
        </section>
      </div>

    </div>
  </div>
</main>

<h2>チーム一覧</h2>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <div class="container">
      <%= value %>
    </div>
  </div>
<% end %>

<table>
  <tr>
    <th>順番</th>
    <th>チーム名</th>
  </tr>
  <% @enabled_teams.each do |team| %>
    <tr>
      <td><%= team.order %></td>
      <td><%= team.name %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= link_to '全体共有', new_announcement_path %></td>
  </tr>
</table>

<hr>

<h2>表示されないチーム</h2>
<table>
  <tr>
    <th>チーム名</th>
  </tr>
  <% @disabled_teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'チーム追加', new_team_path  %>
