<h1>チーム一覧</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <div class="container">
      <%= value %>
    </div>
  </div>
<% end %>

<table>
  <tr>
    <th>順番</th>
    <th>チーム名</th>
  </tr>
  <% @enabled_teams.each do |team| %>
    <tr>
      <td><%= team.order %></td>
      <td><%= team.name %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>表示されないチーム</h2>
<table>
  <tr>
    <th>チーム名</th>
  </tr>
  <% @disabled_teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'チーム追加', new_team_path  %>
