<h1><%= @target.team.name %> <%= @target.start_on.strftime("%Y/%m") %></h1>

<%= form_with url: slides_team_path(@target.team),local: true do |f| %>
  <div class="form-group">
    <%= f.label :value %><br />
    <%= f.text_field :value, name: "target_value", value: @target.value, autofocus: true %>
  </div>

  <% @performances.each_with_index do |performance, i| %>
    <%= performance.formatted_week %><br />
    <%= f.text_field :value, name: "performance_value[#{i}]", value: performance.value %><br />
  <% end %>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
