<header>
  <div class="container">
    <div class="row align-items-center m-0">
      <h1>Morning Meeting</h1>
      <a href="https://feedforce.qiita.com/" target="_blank" class="btn btn-outline-light">
        <i class="fas fa-file-alt mr-1"></i>
        過去の記事
      </a>
    </div>
  </div>
</header>

<main>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h2>
          <%= @target.team.name %> <%= @target.start_on.strftime("%Y/%m") %>
        </h2>
      </div>
      <div class="col-4">

      </div>
      <div class="col-8">
        
      </div>
    </div>

  </div>
</main>

<h1><%= @target.team.name %> <%= @target.start_on.strftime("%Y/%m") %></h1>

<%= form_with url: slides_team_path(@target.team),local: true do |f| %>
  <div class="form-group">
    <%= f.label :value %><br />
    <%= f.text_field :value, name: "target_value", value: @target.value, autofocus: true %>
  </div>

  <% @performances.each_with_index do |performance, i| %>
    <%= performance.formatted_week %><br />
    <%= f.text_field :value, name: "performance_value[#{i}]", value: performance.value %><br />
    <%= f.text_area :value, name: "performance_content[#{i}]", value: performance.content %><br />
  <% end %>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
