<h1><%= @target.team.name %> <%= @target.start_on.strftime("%Y/%m") %></h1>

<%= form_with url: slides_team_path(@target.team), method: :patch, local: true do |f| %>
  <div class="form-group">
    <%= f.label :value %><br />
    <%= f.text_field :value, name: "target[value]", value: @target.value, autofocus: true %>
  </div>

  <% @performances.each do |performance| %>
    <%= performance.formatted_week %><br />
    <%= f.text_field :value, name: "performance[#{performance.id}][value]", value: performance.value %><br />
    <%= f.text_area :value, name: "performance[#{performance.id}][content]", value: performance.content %><br />
  <% end %>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>
